/* FRAMES THE WEB APPLICATION */
body {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
}

#jsTPS_heading
{
    text-align: center;
}

button
{
    margin: 0.5%;
    border-radius: 5px;
    padding: 0.5%
}
