/* FRAMES THE WEB APPLICATION */
body {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
}

#jsTPS_heading
{
    text-align: center;
}

#jsTPS_output_container button
{
    margin: 2%;
    border-radius: 5px;
    padding: 1.3%
}

#add_amount
{
    margin-top: 2.5%;
    float:inline-end;
}

#jsTPS_output_container
{
    float: left;
}

#jsTPS_unit_test_output_container
{
    float: right;
}

#jsTPS_unit_test_output_container button
{
    margin: 1%;
    border-radius: 5px;
    padding: 1.5%
}


